{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<table class="table table-striped table-bordered table-hover">
    <h2>Your stock portfolio</h2>
    <p>This table displays your stock portfolio.</p>
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Purchase/sell</th>
            <th>Stock symbol</th>
            <th>Amount</th>
            <th>Price at purchase/sell</th>
        </tr>
    </thead>
    <tbody>
        {% for stock_data in stock_datas %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{stock_data["order_date_time"]}}</td>
            <td>{% if stock_data["stock_amount"]>0 %}Purchase{% else %}Sell{% endif %}</td>
            <td>{{stock_data["stock_type"]}}</td>
            <td>{{stock_data["stock_amount"]}}</td>
            <td>{{stock_data["stock_price_at_buy"]|usd}}</td>
        </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock %}
